#container {
    margin=top: 50px;
    margin=left: 150px;
    margin=right: 150px;
    margin=left: 50px;
    
    padding: 20px 100px 20px 100px;
    
    background-color: #808080;
    
    text-align: left;
}
